<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iiitm.android.zaika_e_gwalior">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appicon"
        android:label="Gwalior-Jharokha"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainsplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Mainhistorical2Activity" />
        <activity android:name=".Mainworship2Activity" />
        <activity android:name=".Mainshopping2Activity" />
        <activity android:name=".Main22Activity" />
        <activity android:name=".Main32Activity" />
        <activity android:name=".Main52Activity" />
        <activity android:name=".Main42Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main9Activity" />
        <activity android:name=".Main82Activity" />
        <activity android:name=".Main10Activity" />
        <activity android:name=".Main11Activity" />
        <!--<activity android:name=".Main12Activity" />-->
        <activity android:name=".Main122Activity" />
        <activity android:name=".ToiletsHindiActivity" />
        <activity android:name=".KeyNumbersHindiActivity" />
        <activity android:name=".FeedbackHindiActivity" />
        <activity android:name=".cardslidertry.MainActivitySliderHistorical" />
        <activity android:name=".cardslidertry.MainActivitySliderWorship" />
        <activity android:name=".cardslidertry.MainActivitySliderNear" />
        <activity android:name=".cardslidertry.MainActivitySliderHotels"/>
        <activity android:name=".cardslidertry.MainActivitySliderMedical"/>
        <activity android:name=".cardslidertry.MainActivitySliderHindi" />
    </application>

</manifest>